[submodule "cpp/external/chess-library"]
	path = cpp/external/chess-library
	url = https://github.com/Disservin/chess-library.git
[submodule "cpp/external/fathom"]
	path = cpp/external/fathom
	url = https://github.com/jdart1/Fathom.git
[submodule "cpp/external/libfork"]
	path = cpp/external/libfork
	url = https://github.com/ConorWilliams/libfork.git
